h1 {
    font-family: "BodoniFLF-Bold", sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 60px;
}

h2 {
    font-family: "Robots-Black", sans-serif;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: "Roboto-Light", sans-serif;
    font-size: 25px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 100px;
    text-align: center;
    justify-items: center;
}

h1,
h2,
h3 {
    margin: 0;
}

h3 img {
    height: auto;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nouveau-titre {
    color: hsl(0, 0%, 100%);
    font-size: 50px;
}

.photos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* Les cinq premières colonnes ont une largeur automatique */
    gap: 20px;
}



.photo_membre {
    width: 200px;
    /* Taille fixe pour la largeur */
    object-fit: cover;
    /* Recadre l'image pour remplir le conteneur tout en conservant ses proportions */
    border-radius: 50%;
    /* Optionnel : pour donner un effet circulaire */
}

.mmi, .gb{
    display: flex;
    justify-content: center;
    gap: 20px;
}


a.lien {
    color: white !important;
    text-decoration: none !important;
    display: block;
    margin-top: 20px;
    padding: 10px;
    animation: pulse 1.5s infinite;
    border: 1px dashed white
}

.lienytb{
    margin-bottom: 50px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.jeu2 {
    font-size: 50px;
    margin-top: 10%;
    margin-bottom: 40px;
}


.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 5s infinite;
}

/* Animation de scintillement */
@keyframes twinkling {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.etoi {
    width: 10%;
}

.group-photos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.group-photos img {
    max-width: 40%;
    /* Taille maximale des images */
    margin: 10px;
    /* Marge entre les images */
}

@media screen and (max-width: 678px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 30px;
        text-align: center;
        justify-items: center;
    }

    h1 {
        font-size: 50px;
        margin-top: 20px;
    }

    h2 {
        font-family: "Robots-Black", sans-serif;
        font-size: 20px;
        text-align: center;
    }

    .nouveau-titre {
        color: hsl(0, 0%, 100%);
        font-size: 20px;
        margin-top: 0;
    }

    .group-photos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .group-photos img {
        max-width: 100%;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .photos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    h3 {
        width: auto;
        padding-right: 50px;
        padding-left: 50px;
        text-align: center;
    }

    .photos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 20px;
    }

    .photo_membre {
        width: 200px;
        /* Taille fixe pour la largeur */
        object-fit: cover;
        /* Recadre l'image pour remplir le conteneur tout en conservant ses proportions */
        border-radius: 50%;
        /* Optionnel : pour donner un effet circulaire */
    }
    .mmi, .gb {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
}