header {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px;
}

header img {
    max-width: 100px;
}

header ul li .panier {
    max-width: 40px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-right: 3%;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.menu ul li:hover {
    transform: translateY(-5px);
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

header .logo {
    padding: 15%;
}

body {
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    width: 100%;
}

h1 {
    font-family: "BodoniFLF-Bold", sans-serif;
    font-size: 100px;
    text-align: center;
    margin-left: 80%;
}

h2 {
    font-family: "Robots-Black", sans-serif;
    margin-top: 20%;
    font-size: 20px;
    text-align: center;
    margin-left: 80%;
}

h3 {
    font-family: "Roboto-Light", sans-serif;
    font-size: 15px;
    text-align: center;
    margin-left: 80%;
}

main {
    grid-column: 1 / span 2;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    text-align: center;
    justify-items: center;
}

.container>* {
    grid-column: 2;
}

.container::before {
    content: "";
}

h1,
h2,
h3 {
    margin: 0;
}

h3 img {
    height: auto;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nouveau-titre {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    margin-top: 40px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    justify-items: center;
}

.photo_profil {
    max-width: 80px;
    height: auto;
}

.nouvelle_photo {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    align-items: stretch;
    gap: 1px;
    justify-content: center;
}

.nouvelle_photo img {
    max-width: 80px;
    height: auto;
}

.video_backstage {
    grid-column: span 4;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 50px auto;
}

footer {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

a.lien {
    color: white !important;
    text-decoration: none !important;
    display: block;
    margin-top: 20px;
    animation: pulse 1.5s infinite;
    border: 1px dashed white
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.jeu2 {
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 40px;
}


.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 5s infinite;
}

/* Animation de scintillement */
@keyframes twinkling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.etoi {
    width: 15%;
}