header {
  grid-row: 1;
  /* Positionne le header sur la première ligne de la grille */
  grid-column: 1 / span 2;
  /* Le header s'étend sur les deux colonnes */
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 10px
}

header img {
  max-width: 100px;
}

header ul li .panier {
  max-width: 40px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu ul li {
  margin-right: 3%;
  font-size: 1.2em;
  transition: transform 0.3s ease;
  /* Ajoute une transition au survol */
}

.menu ul li:hover {
  transform: translateY(-5px);
  /* Déplace légèrement l'élément vers le haut au survol */
}

.menu ul li a {
  text-decoration: none;
  /* Supprime la décoration des liens */
  color: white;
}




header .logo {
  padding: 15%;
}

body {
  font-family: 'Roboto-Bold', sans-serif;
  /* Changement de la police de caractères */
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: auto auto auto;
  /* Ajout des lignes de grille pour le header, le contenu et le footer */
  grid-template-columns: 1fr 1fr;
  /* Deux colonnes pour le contenu */
  min-height: 100vh;
  /* Pour assurer que la grille s'étend sur toute la hauteur de la fenêtre */
}

.beer-description {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.beer-description h2 {
  font-size: 24px;
  margin-top: 0;
  flex-basis: 100%;
}

.beer-description p {
  margin-bottom: 20px;
  flex-basis: 100%;
}

.beer-description ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.beer-description li {
  margin-bottom: 10px;
}

.beer-description li:before {
  content: "• ";
  font-size: 18px;
  color: #666;
}

.beer-description span {
  font-size: 14px;
  color: #999;
}

.portrait-image {
  width: 30%;
  margin-left: 130%;
  margin-top: -250%;
}

footer {
  grid-row: 5;
  grid-column: 1 / span 2;
  text-align: center;
  padding: 0;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


footer .ml{
  text-decoration: none;
  color: white;
}