.beer-description {
  max-width: 500px;
  height: 80%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.texte
  {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
  font-size: 50px;
}
p {
  margin-bottom: 20px;
}

.beer-description ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.beer-description li {
  margin-bottom: 10px;
}

.beer-description li:before {
  content: "• ";
  font-size: 18px;
  color: #666;
}

.beer-description span {
  font-size: 14px;
  color: #999;
}

  .portrait-image{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  


main{
margin: auto;
padding: auto;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
height: 100vh;
}


@media screen and (max-width: 678px) {
  .beer-description {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  main {
    margin: auto;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
}

h2{
  font-size: 30px;
}

.portrait-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

}