body {
    font-family: 'Roboto-Bold', sans-serif;
    /* Changement de la police de caractères */
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 50px auto auto;
    /* Ajout des lignes de grille pour le header, le contenu et le footer */
    grid-template-columns: 1fr 1fr;
    /* Deux colonnes pour le contenu */
    min-height: 100vh;
    /* Pour assurer que la grille s'étend sur toute la hauteur de la fenêtre */
}

header {
    grid-row: 1;
    /* Positionne le header sur la première ligne de la grille */
    grid-column: 1 / span 2;
    /* Le header s'étend sur les deux colonnes */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px
}

header img {
    max-width: 100px;
}

header ul li .panier {
    max-width: 40px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-right: 3%;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    /* Ajoute une transition au survol */
}

.menu ul li:hover {
    transform: translateY(-5px);
    /* Déplace légèrement l'élément vers le haut au survol */
}

.menu ul li a {
    text-decoration: none;
    /* Supprime la décoration des liens */
    color: white;
}




header .logo {
    padding: 15%;
}

body main {
    grid-column: 1 / span 2;
}

.titre {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 5%;
}


.poster img {
    max-width: 100%;
}



.etape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenu img {
    max-width: 30%;
}

.contenu .texte {
    max-width: 50%;
}

/* Pour inverser l'ordre des éléments sur chaque deuxième étape */
.etape:nth-child(even) .contenu {
    flex-direction: row-reverse;
}



footer {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


footer .ml{
    text-decoration: none;
    color: white;
}