body {
    font-family: 'Roboto-Bold', sans-serif;
    /* Changement de la police de caractères */
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 50px auto auto;
    /* Ajout des lignes de grille pour le header, le contenu et le footer */
    grid-template-columns: 1fr 1fr;
    /* Deux colonnes pour le contenu */
    min-height: 100vh;
    /* Pour assurer que la grille s'étend sur toute la hauteur de la fenêtre */
}

header {
    grid-row: 1;
    /* Positionne le header sur la première ligne de la grille */
    grid-column: 1 / span 2;
    /* Le header s'étend sur les deux colonnes */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px
}

header img {
    max-width: 100px;
}

header ul li .panier {
    max-width: 40px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-right: 3%;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    /* Ajoute une transition au survol */
}

.menu ul li:hover {
    transform: translateY(-5px);
    /* Déplace légèrement l'élément vers le haut au survol */
}

.menu ul li a {
    text-decoration: none;
    /* Supprime la décoration des liens */
    color: white;
}

.menu img{
    display: none;
}


header .logo {
    padding: 15%;
}

body main {
    grid-column: 1 / span 2;
}

.titre {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 5%;
}


.poster img {
    max-width: 100%;
}



.etape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenu img {
    max-width: 30%;
}

.contenu .texte {
    max-width: 50%;
}

/* Pour inverser l'ordre des éléments sur chaque deuxième étape */
.etape:nth-child(even) .contenu {
    flex-direction: row-reverse;
}


p{
    font-size: x-large;
}

footer {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

<<<<<<< Updated upstream
@media screen and (max-width: 678px) {
    body {
        font-family: 'Roboto-Bold', sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 60px auto auto;
        grid-template-columns: 1fr;
        min-height: 100vh;
    }
    
    header {
        grid-row: 1;
        /* Positionne le header sur la première ligne de la grille */
        grid-column: 1 / span 2;
        /* Le header s'étend sur les deux colonnes */
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        margin: 10px
    }

    .menu img{
        display:block;
    }
    
    .logo{
        max-height: 30px;
    }
    
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 5px;
    }
    
    .menu ul li {
        margin-right: 3%;
        font-size: 1.2em;
        transition: transform 0.3s ease;
     
        /* Ajoute une transition au survol */
    }
    .menu span {
        display: none;
    }
    
    .menu ul li:hover {
        transform: translateY(-5px);
        /* Déplace légèrement l'élément vers le haut au survol */
    }

    .menu img{
        height: 25px;
        width: 25px;
    }
    
    .menu ul li a {
        text-decoration: none;
        /* Supprime la décoration des liens */
        color: white;
    }
}
=======
/*header bon ****************************/

/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    .logo{

        display:none;
    }
    header{
        margin: auto;
    }
    
    header li {
        flex-direction: column;
        /*align-items: flex-start;*/
        /*justify-content: center;*/
    }

    header nav.menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav.menu ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 5%;
        padding: 5%;
    }

    .card {
        width: 100%;
        /*height: auto;*/
    }

    .logo2 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .fleche img {
        width: 20%;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav.menu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav.menu ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 3%;
        padding: 3%;
    }

    .card {
        width: 100%;
        /*height: auto;*/
    }

    .logo2 {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;
    }

    .logo_centre {
        max-width: 100%;
    }

    .fleche img {
        width: 15%;
    }
}

/*header bon************************/


/* Tablets_3 */
@media (max-width: 630px) {
    .card-container {
       
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);/*auto*/
        gap: 5%;
        padding: 5%;
        width: 80%;
        height: auto;
        margin: auto;
    }

    .card {
        width: 85%;/*100%*/
        margin: auto;
        
        /*height:10%;*/

        /*flex-direction: row;*/
    }

    .fleche img {
        width: 20%;
        display: none;
    }

    .logo{

        /*margin:auto;
        width: 50%;*/
        display: none;
    
    }

    /*.logo_centre{

        margin:auto;
        width:30%
    }*/

    .logo2{
        
        /*max-width: 500px;
        margin: auto;
        z-index: 3;*/

        display: none;
    }

    h1{margin-top: 45%;}

}


/* Mobile Phones */ /*480px*/
@media (max-width: 480px) {
    .card-container {
        
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);/*auto*/
        gap: 3%;
        padding: 3%;
        /*display: flex;
        flex-direction: row;*/
        margin: auto;
    }

    .card {
        width: 80%;/*100*/
        /*height: auto;*//*à supp*/
        justify-content: center;
        margin: auto;
        
    }

    .logo2 {
        padding-top: 5%;
        padding-bottom: 5%;
        /*width: 5%*/
    }

    #logo_centre{
        /*width:5%;  */ /*  ligne à moi */
    }

    .fleche img {
        width: 15%;
        display: none;
    }
}



>>>>>>> Stashed changes
