body {
    font-family: 'Roboto-Bold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 50px auto auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    width: 100%;
}

header {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px;
}

header img {
    max-width: 100px;
}
/*  */
/*.menu img{
    display: none;
}*/


/*  ando code / picto compte */

img.compte{
    display: block;  /* code ando*/
    width: auto;
}

/*  ando code / picto compte */

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-right: 3%;
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.menu ul li:hover {
    transform: translateY(-5px);
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.buttons a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.buttons a :hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #ffffff83;
}

header .logo{
 padding: 15%;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    }

nav img{
    display: none;
}

.logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 10%;
    padding-bottom: 10%;
}

.content {
    flex: 1;
    overflow-y: auto;
    height: auto;
}
footer {
    grid-row: 5;
    grid-column: 1 / span 2;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 400px);
    gap: 8%;
    perspective: 1000px; 
    justify-content: center;
    padding: 10%;
}

.card {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card-front img,
.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.fleche img {
    width: 25%;
    height: auto;
}

.fleche {
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Ajout de la transition */
    z-index: 999;
}

.fleche.invisible {
    opacity: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) { 

        body {
            font-family: 'Roboto-Bold', sans-serif;
            margin: 0;
            padding: 0;
            background-color: black;
            color: white;
            display: grid;
            grid-template-areas:
                "header"
                "main"
                "footer";
            grid-template-rows: 60px auto auto;
            grid-template-columns: 1fr;
            min-height: 100vh;
        }
        
        header {
            grid-row: 1;
            /* Positionne le header sur la première ligne de la grille */
            grid-column: 1 / span 2;
            /* Le header s'étend sur les deux colonnes */
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            margin: 10px
        }
    
        .menu img{
            display:block;
        }
        
        .logo{
            max-height: 30px;
        }

        .content {
            flex: 1;
            overflow-y: auto;
            height: auto;
        }
        
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;
            gap: 5px;
        }
        
        .menu ul li {
            margin-right: 3%;
            font-size: 1.2em;
            transition: transform 0.3s ease;
         
            /* Ajoute une transition au survol */
        }
        .menu span {
            display: none;
        }
        
        .menu ul li:hover {
            transform: translateY(-5px);
            /* Déplace légèrement l'élément vers le haut au survol */
        }
    
        .menu img{
            height: 25px;
            width: 25px;
        }
        
        .menu ul li a {
            text-decoration: none;
            /* Supprime la décoration des liens */
            color: white;
        }

    /* Styles pour les écrans plus petits que 768px (tablettes) */
    .card-container {
        grid-template-columns: repeat(1, 300px); /* Une seule colonne */
        grid-template-rows: repeat(6, 200px); /* Plus de rangées pour s'adapter à la hauteur */
        gap: 4%;
        height: fit-content;
    }

    .card-front {
        width: 100%; /* Réduire la largeur des cartes */
        height: 100%; /* Réduire la hauteur des cartes */
    }

    img{
        height: fit-content;
    }
    .fleche {
        display: none;
    }

    .logo2 {
        display: none;
        flex: 1;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .logo2 img{
        display: none;
        height: 50px;
    }
}

@media screen and (max-width: 480px) {
    /* Styles pour les écrans plus petits que 480px (téléphones) */
    .card-container {
        grid-template-columns: 1fr; /* Une seule colonne */
        margin-left: 20px;
        margin-right: 20px;
        gap: 2%; 
    }

    .card {
        width: 95%;
        height: auto;
    }

    header ul li {
        font-size: 1em;
    }

    .fleche {
        bottom: 10px;
        left: 10px;
    }

}

/*  compte*****************************************************************/


/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
*/
/* Container principal pour centrer le formulaire */
/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}*/



/* Wrapper pour le formulaire */
.form-wrapper {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 16vh;

}



/* Style des éléments du formulaire */

h2 {
    margin-top: 0;
    text-align: center;
    font-style: normal;
    font-size: 250%;

}   

p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #38cc2d;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #38cc2d;
}

span {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

/* Responsiveness */
@media (max-width: 600px) {
    .form-wrapper {
        padding: 15px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 8px;
    }

    input[type="submit"] {
        padding: 8px;
    }
}



/***************************************************************/
button{

    margin-left: 34%;
    background-color: #38cc2d;
    border-radius: 4px;

}
/*******************************************