body {
    font-family: 'Roboto-Bold', sans-serif; /* Changement de la police de caractères */
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 50px auto auto; /* Ajout des lignes de grille pour le header, le contenu et le footer */
    grid-template-columns: 1fr; 
    min-height: 100vh; /* Pour assurer que la grille s'étend sur toute la hauteur de la fenêtre */
}

header {
    grid-row: 1; /* Positionne le header sur la première ligne de la grille */
    grid-column: 1 / span 2; /* Le header s'étend sur les deux colonnes */
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 10px
    
}

header img {
    max-width: 100px;
}

header ul li .panier{
    max-width: 40px;
}





.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu ul li {
    margin-left: 20px;
    transition: transform 0.3s ease; /* Ajoute une transition au survol */
}

.menu ul li:hover {
    transform: translateY(-5px); /* Déplace légèrement l'élément vers le haut au survol */
}

.menu ul li a {
    text-decoration: none; /* Supprime la décoration des liens */
    color: white;
}

.titre {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 20px;
}



.message{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.message img{
    max-width: 10%;
    margin-top: 2%;
}

footer {
    grid-row: 5; /* Positionne le footer sur la troisième ligne de la grille */
    grid-column: 1 / span 2; /* Le footer s'étend sur les deux colonnes */
    text-align: center;
    padding: 0; /* Réduit la taille du padding du footer */
    margin-top: 10px; /* Ajoute une marge en haut du footer */
    align-items: end;
    display: flex;
    justify-content: center;
}

/* Création des paillettes */
.paillette {
    grid-column: 1 / span 2;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff; /* Couleur des paillettes */
    border-radius: 50%; /* Pour rendre les paillettes rondes */
}

/* Animation des paillettes */
@keyframes tomber {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh) rotate(720deg); /* Fait tourner les paillettes en tombant */
        opacity: 1;
    }
}

/* Appliquer l'animation à chaque paillette */
.paillette {
    animation: tomber 5s linear infinite; /* Réglez la vitesse et la durée de l'animation selon vos préférences */
}
