main {
    display: grid;
    grid-template-columns: 5% 1fr 1fr;
    align-items: center;
    align-content: space-between;
    gap: 5px;
    grid-template-rows: auto 1fr;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 50px;
}


.photo {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

.texte{
    grid-row: 2;
    grid-column: 3;
    padding: 15px;
}

.titre{
    grid-row: 1;
    grid-column: 2 / span 3;
}

h2{
    text-align: center;
    font-size: 50px;
}

h3{
    font-size:  20px;
    text-align: center;
    padding: 15px;
}


.fleche img {
    width: 100%;
}

.informations {
    grid-column: 2;
    /* Positionne les informations dans la deuxième colonne de la sous-grille */
    justify-self: start;
}

.photo img {
    width: 70%;
    border-radius: 50%;
}

.fleche {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}


/* Création des paillettes */
.paillette {
    grid-column: 1 / span 2;
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    /* Couleur des paillettes */
    border-radius: 50%;
    /* Pour rendre les paillettes rondes */
}

/* Animation des paillettes */
@keyframes tomber {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 0;
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        /* Fait tourner les paillettes en tombant */
        opacity: 1;
    }
}

/* Appliquer l'animation à chaque paillette */
.paillette {
    animation: tomber 5s linear infinite;
    /* Réglez la vitesse et la durée de l'animation selon vos préférences */
}