main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 40px;
    padding-bottom: 50px;
}
.titre {
    grid-column: 1 / span 2;
    text-align: center;
    padding: 20px;
}

.contact{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-evenly;
    padding-left: 200px;
    padding-right: 200px;
}

.gauche {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.droite {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    font-weight: normal;
    font-size: large;
    justify-content: space-between;
    text-align: right;
}

.insta a {
    list-style-type: none;
    text-decoration: none;
    /* Supprime la décoration des liens */
    color: white;
    margin: 18px 0px;
}

.insta {
    padding-top: 3%;
}

.form {
    grid-column: 1 / span 2;
    /* Formulaire de contact s'étend sur les deux colonnes */
    justify-self: center;
    /* Centrer horizontalement */
    align-self: center;
    /* Centrer verticalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.form h2 {
    padding: 30px;
}

form#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkling 5s infinite;
}

/* Animation de scintillement */
@keyframes twinkling {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 40px;
        padding-bottom: 50px;
    }

    .contact{
        grid-column: 1 / span 2;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }

}